<div id="form-popup">
    <form id="form-container">
        <h1>New Book</h1>
        <label for="id"> </label>
        <input id="id" type="number" placeholder="ID" name="id">
        <label for="name"> </label>
        <input id="name" type="text" placeholder="Name" name="name">
        <label for="author"></label>
        <input id="author" type="text" placeholder="Author" name="author">
        <label for="genre"></label>
        <input id="genre" type="text" placeholder="Genre" name="genre">
        <label for="rating"></label>
        <input id="rating" type="number" min="0" step="0.25" placeholder="Rating" name="rating">
        <label for="time"></label>
        <input id="time" type="number" min="0" step="1" placeholder="Time Spent in Days" name="time">
        <button class="btn" id="save-book" type="submit">Save</button>
        <button id="cancel-btn" type="button">Close</button>
    </form>
</div>